@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --navPurple: #681AA5;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

.navbar-custom {
    background-color: #ff5500;
}

#navBar {
    background-color: #681AA5; 
    height: 80px; 
}

#brandName {
    font-size: 30px;
    text-align: left;
    margin-top: -4px;
}

#categorySquare {
    background-color: var(--navPurple);
    width: 210px;
    height: 210px;
    border-radius: 30px;
}

#categoryTable {
    border-radius: 30px;
    text-align: center;
    transition: box-shadow .3s;
    font-size: 20px;
    cursor: pointer;
}

#categoryTable:hover {
    transition: box-shadow .3s;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    cursor: pointer;
}

#areaTitle {
    font-size: 40px;
}

#categoryBoard {
    text-decoration: none;
    color: var(--navPurple) ;
}

#categoryName {
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
}

#timeLabel {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    margin-left: 70px;
}

#emptyResponse {
    text-align: center;
    background-color: white;
    width: 50px;
    height: 350px;
}

#backToCategoriesBtn {
    background-color: #681AA5;
    color: white;
    width: 120px;
    border-radius: 30px;
}

#backToCategoriesBtn:hover {
    transition: box-shadow .3s;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    cursor: pointer;
}

#articleArea {
    background-color: white;
    height: 250px;
    width: 100%;
    transition: box-shadow .3s;
}

#articleArea:hover {
    transition: box-shadow .3s;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    cursor: pointer;
}

#articleName {
    margin-left: 70px;
}

#authorArticleField {
    margin-left: 70px;
    font-weight: 300;
}

#readMore {
    margin-left: 60px;
    font-weight: bold;
    color: #681AA5;
    margin-top: 20px;
    font-size: 23px;
}

#noArticleRegistered {
    font-weight: 400;
}

#beTheFirst {
    background-color: #681AA5;
    color: white;
    text-align: center;
    width: 300px;
}

#labelNav {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.849);
    font-weight: 300;
    font-size: 20px;
    margin-left: 25px;
    transition: box-shadow .3s;
}


#labelNav:hover {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 20px;
    margin-left: 25px;
    transition: box-shadow .3s;
}

#submitArticle {
    background-color: #681AA5; 
    color: white;
    width: 100%;
}

.toast {
    z-index: 200000;
  }

  #toast-container {
    z-index: 200000;
    }

