<!-- Modal -->
<div class="modal fade" id="userCreatedModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sucesso! <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="blue" class="bi bi-check2" viewBox="0 0 16 16">
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
          </svg> </h5>
        </div>
        <div class="modal-body">
         Você se cadastrou com sucesso no Devblog! Espero que goste!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="location.reload();">Ok</button>
        </div>
      </div>
    </div>
  </div>  
  