<%- include('../partials/header.ejs') %>

<body>

    <div id="formBackground">
        <div class="container"> 
            <form action="" id = "loginForm" class="form-group"> <br> <br> <br> 
                <input type="text" class="form-control" style="width: 50%; margin-left: 25%;" placeholder="Insira seu e-mail"> <br> 
                <input type="password" class="form-control" style="width: 50%; margin-left: 25%;" placeholder="Insira sua senha">
            </form>
        </div>
    </div>
        
   </div>
</body>

<%- include('../partials/footer.ejs') %>