<%- include('../partials/header.ejs') %>
<%- include('../partials/userCreatedModal.ejs') %>
<%- include('../partials/userAlreadyExistsErrorModal.ejs') %>

<!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->

<style>

    :root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #007bff;
  background: linear-gradient(to right, #681AA5, #f5f5f5);
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}
</style>

<body> <br> <br> <br> <br> 
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Cadastro | Devblog</h5>
              <form class="form-signin" id = "createUserForm">

                <div class="form-label-group">
                  <input type="email" id="email" class="form-control" placeholder="Email address" required autofocus>
                  <label for="email">Email</label>
                </div>

                <div class="form-label-group">
                    <input type="text" id="username" class="form-control" placeholder="Email address" required autofocus>
                    <label for="username">Nome</label>
                  </div>
  
                <div class="form-label-group">
                  <input type="password" id="password" class="form-control" placeholder="Password" required>
                  <label for="password">Senha</label>
                </div>
  
                <!-- <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div> -->
                <button class="btn btn-lg btn-primary btn-block text-uppercase" style="width: 100%; background-color: #681AA5;" type="submit">Entrar</button>
                <hr class="my-4" style="text-align: center;">
                    <a href="/login" style="text-align: center; text-decoration: none;">Já tem conta? Faça o login! </a>
              </form>
            </div> <br>
            <a class="btn btn-primary" href="/" style="text-align: center;"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
              <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
            </svg> Voltar para o início</a>
          </div>
        </div>
      </div>
    </div>

    

<script>

const baseURL = 'http://localhost:8080';

    $(document).ready(() => {

        $('#createUserForm').submit(event => {
            event.preventDefault();
            
            const userInfo = {
                username: $('#username').val(),
                email: $('#email').val(),
                password: $('#password').val()
            }

            axios({
                method: 'post',
                url: baseURL + '/new-user',
                data: userInfo
            }).then((result) => {
                if(result.data.error != undefined){
                    $('#userAlreadyExistsErrorModal').modal('show');
                } else {
                    $('#userCreatedModal').modal('show');
                };
            }).catch(err => {
              
            });
        });

    })
</script>
    
  </body>

<%- include('../partials/footer.ejs') %>